.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  max-height: 200px;
  height: 200px;
  max-width: 400px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* margin-right: 20px;\ */
  margin: 1em;
  padding: 1em;
}

.bottle {
  width: 10%;
  height: 70%;
  padding: 1em;
  align-items: center;
  border-radius: 15px;
  background: rgb(203, 106, 153);
  background: linear-gradient(140deg, rgba(203, 106, 153, 1) 35%, rgba(217, 181, 134, 1) 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
  flex: 1;
}

.header {
  color: #49456b;
}
